# 常规库
PySide6
python-dotenv
colorama
# markdown
# pygments
# bleach
# beautifulsoup4
# tinycss2
mdx-truly-sane-lists
mdx-breakless-lists
mysql-connector-python

# 从 GitHub 安装 camel（固定 main 分支）
git+https://github.com/camel-ai/camel.git#egg=camel-ai


# 需要安装的库（最新版）
python:3.11及以上
pip install camel-ai
pip install PySide6
pip install python-dotenv
pip install qdrant-client
pip install unstructured
pip install libmagic
pip install python-magic # 非Windows用
pip install python-magic-bin  # Windows 专用二进制依赖
pip install python-docx
pip install pymupdf
pip install mysql-connector-python
pip install sentence-transformers
科学上网，以下语句会自动下载embedding模型:

```python
from camel.embeddings import SentenceTransformerEncoder

# 保存路径：C:\Users\用户名\.cache\huggingface
encoder = SentenceTransformerEncoder(model_name='model_name')
```
