# 常规库
# python:3.11及以上
PySide6
python-dotenv
colorama
camel-ai
# markdown
# pygments
# bleach
# beautifulsoup4
# tinycss2
mdx-truly-sane-lists
mdx-breakless-lists
mysql-connector-python
qdrant-client
unstructured
libmagic
python-magic-bin # 非Windows请手动执行pip install python-magic
python-docx
pymupdf
sentence-transformers

# 从 GitHub 安装 camel（固定 main 分支）
# git+https://github.com/camel-ai/camel.git#egg=camel-ai

# 科学上网，以下语句会自动下载embedding模型:

# ```python
# from camel.embeddings import SentenceTransformerEncoder

# 保存路径：C:\Users\用户名\.cache\huggingface
# encoder = SentenceTransformerEncoder(model_name='model_name')
# ```
